################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/LitClubApi/obj
/backend/LitClubApi/bin
/.vs
/backend/LitClubApi/.vs/LitClubApi
